<footer>
    <p class="text-lg">Esta página ha sido creada a partir de  <span class="font-bold text-xl text-orange-600 uppercase underline">Astro</span> y
    <span class="font-bold text-xl text-cyan-400 uppercase underline">React</span>, usando <span class="font-bold text-xl text-cyan-300 ">Tailwind CSS</span>
    usando una plantilla de <span class="font-bold text-xl text-pink-500 ">Figma</span>(<a href="#">plantilla</a>).
    </p>


</footer>