---

import BentoCard from "@components/BentoCard";
import SayHelloBentoCard from "@components/SayHelloBentoCard.astro";
import SpotifyBentoCard from "@components/SpotifyBentoCard";
import GithubProfileBentoCard from "./GithubProfileBentoCard.astro";
import BentoTimeCard from "./BentoTimeCard";

---

<div class="max-w-6xl grid  lg:grid-cols-4 grid-rows-7 gap-4 py-8 m-auto">
    <GithubProfileBentoCard />
    <BentoCard className="row-span-1 col-span-1" >
        1
    </BentoCard>

    <BentoTimeCard client:load />


    <BentoCard className="row-span-2" >
        3
    </BentoCard>
    
    <BentoCard className="row-span-1" >
        6
    </BentoCard>
    
    <SpotifyBentoCard client:visible />
   
    <BentoCard className=" col-span-1 row-span-2" >
        6
    </BentoCard>
   
    <SayHelloBentoCard  />
    
    <BentoCard className="row-span-1 col-span-1" >
        8
    </BentoCard>
    <BentoCard className="row-span-1 col-span-2" >
        9
    </BentoCard>
    <BentoCard className="row-span-1 col-span-2" >
        10
    </BentoCard>
</div>

