---

interface Props{
    className: string
}

const {className } = Astro.props

---

<div class={`relative border border-primary rounded-[64px] py-7 px-9 bg-secondary overflow-hidden ${className}`}>
    <slot />
</div>