---

interface Props{ 
    class: string;
    backgroundUrl?: string;
}

const {class: className, backgroundUrl } = Astro.props;

---

<div class={`border border-primary rounded-[64px] py-8 px-8 ${backgroundUrl ? `bg-[url(${backgroundUrl})] bg-cover bg-center w-full` : "bg-secondary"} ${className}`}>
    <slot />
</div>