---

import BentoCard from "@components/BentoCard";

---

<BentoCard className="md:row-span-1 md:col-span-2 lg:col-span-1 xl:col-span-1 w-full grid place-items-center h-full">
    <img src="images/noise/noise-2.webp" alt="noise" class="absolute inset-0 w-full h-full">
    <p class="relative text-xl md:text-3xl lg:text-xl">
        Designed in <span class="font-bold text-xl md:text-3xl lg:text-xl">Figma</span> and coded in 
        <span class="font-bold text-xl md:text-3xl lg:text-xl">Visual Studio Code</span> Built with 
        <span class="font-bold text-xl md:text-3xl lg:text-xl">Astro</span>, 
        <span class="font-bold text-xl md:text-3xl lg:text-xl">React</span>, and 
        <span class="font-bold text-xl md:text-3xl lg:text-xl">Tailwind CSS</span>, 
        deployed with <span class="font-bold text-xl md:text-3xl lg:text-lg">Vercel</span>. 
      </p>
</BentoCard>