---

import BentoCard from "@components/BentoCard";
import SayHelloBentoCard from "@components/SayHelloBentoCard.astro";
import SpotifyBentoCard from "@components/SpotifyBentoCard";
import GithubProfileBentoCard from "./GithubProfileBentoCard.astro";
import BentoTimeCard from "./BentoTimeCard";
import BentoStackCard from "./BentoStackCard.astro";



---

<div class="max-w-6xl grid grid-cols-2 lg:grid-cols-4 grid-rows-7 gap-4 py-8 m-auto">
    <GithubProfileBentoCard />
    
    <SpotifyBentoCard client:visible />

    <BentoTimeCard client:load />


    <BentoCard className="row-span-2" >
        3
    </BentoCard>
    
    <BentoCard className="row-span-1 col-span-2" >
       4
    </BentoCard>
    
    
   
    <BentoCard className=" col-span-1 row-span-2" >
        6
    </BentoCard>
   
    <SayHelloBentoCard  />

    <BentoCard className="row-span-1" >
        8
     </BentoCard>

  
    <!-- <BentoStackCard class="row-span-2 col-span-2" /> -->

    <BentoCard className="row-span-1 col-span-2" >
        10
    </BentoCard>
    
    <BentoCard className="row-span-1 col-span-1" >
        13
    </BentoCard>
    <BentoCard className="row-span-1 col-span-1" >
        14
    </BentoCard>
    
</div>

