---

import BentoCard from "@components/BentoCard"
import  { stack } from "@lib/stack"

interface Props{
    class: string
}

const {class: className} = Astro.props

---

<BentoCard className={className}>
    <div class="flex items-center gap-2 flex-wrap relative z-50">
       {stack.map((item) => (
            <p class="px-3 py-1.5 bg-secondary font-semibold lowercase text-2xl">{item}</p>
       ))}
    </div>
    <img 
        src="images/noise/noise.png"
        class="absolute top-0 left-0 w-full h-full object-cover"
        >    
</BentoCard>