---
import BentoCard from "@components/BentoCard"
import Redirect from "@icons/Redirect"

---
<BentoCard className="row-span-1 md:row-span-2 lg:row-span-1 ">
    <!-- <a 
        href="https://www.linkedin.com/in/adri%C3%A1n-manso-0467682b8/"
        rel="noopener noreferrer"
        target="_blank"
        class="relative grid place-items-center h-full"
    >
        <img 
            src="images/linkedin.svg" 
            alt="linkedin" 
            class="size-48 transition-transform duration-300"
        >
        
    </a> -->
    <h1 class="font-bold text-3xl">contact me </h1>
</BentoCard>

