---
import BentoCard from "@components/BentoCard"
import { socials } from "@lib/socials"

---
<BentoCard className="row-span-1">
    
    <div class="grid place-items-center h-full">
        <ul class="grid grid-cols-2 gap-2">
            {socials.map(({icon: Icon, label, href}) => (
                <li>
                    <a 
                        title={label}
                        href={href}
                        rel="noopener noreferrer"
                        target="_blank"
                        class="flex flex-col "
                    >
                        <Icon class="size-24 transition-opacity duration-300 hover:opacity-70 " />
                    </a>
                </li>
            ))}
        </ul>

    </div>
    
</BentoCard>

