---
import BentoCard from "@components/BentoCard"
import { socials } from "@lib/socials"
import Linkedin from "@icons/Linkedin.astro"
import Redirect from "@icons/Redirect"

---
<BentoCard className="row-span-1">
    
    <div class="grid place-items-center h-full group">
        <!-- <ul class="grid grid-cols-2 gap-2">
            {socials.map(({icon: Icon, label, href}) => (
                <li>
                    <a 
                        title={label}
                        href={href}
                        rel="noopener noreferrer"
                        target="_blank"
                        class="flex flex-col "
                    >
                        <Icon class="size-24 transition-opacity duration-300 hover:opacity-65 " />
                    </a>
                </li>
            ))}
        </ul> -->

        <a 
            href="https://www.linkedin.com/in/adri%C3%A1n-manso-0467682b8/" 
            title="Linkedin"
            rel="noopener noreferrer"
            target="_blank"
            >
            <Linkedin class="transition-opacity duration-300 hover:opacity-65 w-full absolute inset-0 object-cover" />
            <Redirect className="absolute top-6 right-8 size-5 stroke-white transition-transform duration-200 transform group-hover:translate-x-1 group-hover:-translate-y-1" />
        </a>

    </div>
    
</BentoCard>

