---
import Badge from "@ui/Badge.astro"

const navItems = [
    {
        label: "Home",
        href: "/",
        active: true
    },
    {
        label: "Projects",
        href: "/projects",
        active: false
    },
]

---

<nav class="rounded-full border border-primary px-2 py-2">
    <ul class="flex items-center">
        {navItems.map((item) => (
            <li>
                <a 
                    href={item.href}
                    >
                         <Badge active={item.active}>
                            {item.label}
                        </Badge>
                    </a>
            </li>
        ))}
    </ul>
</nav>