---
import BentoCard from "@components/BentoCard";
---

<BentoCard className="row-span-1 col-span-1 border">
    <div class="inline-flex flex-col gap-y-6">
        <h1 class="text-6xl font-semibold" >
            Say, Hello 👋
        </h1>
    </div>
</BentoCard>



