---
import BentoCard from "@components/BentoCard";
import InputText from "./ui/InputText.astro";
---

<BentoCard className="row-span-1 col-span-1 border">
    <form class="inline-flex flex-col h-full justify-between">
        <h1 class="text-5xl font-semibold" >
            Say, Hello 👋
        </h1>
        <InputText />
    </form>
</BentoCard>



