---

interface Props{
    active: boolean;
}

const { active } = Astro.props;

---

<div class={` ${active ? "rounded-full bg-secondary border border-primary text-white" : "text-secondary" } px-14 py-3`}>
    <slot />
</div>