---
import Message from "src/icons/Message.astro";
---

<div class="flex item-center gap-x-2">
    <input
        placeholder="Click to message"
        class="bg-primary px-4 py-3 rounded-full border-primary placeholder:text-secondary placeholder:text-xs w-full "
     >
     
     
</div>