---
import Message from "src/icons/Message.astro";
---

<div class="flex item-center gap-x-2">
    <input
        placeholder="Click to message"
        class="bg-primary px-4 py-3 rounded-full border-primary placeholder:text-secondary placeholder:text-sm w-full "
     >
     <button>
        <Message class="size-10 p-2 rounded-full bg-accent-1 fill-none stroke-white transition-opacity duration-300 hover:opacity-70" />
     </button>
   </div>